{% extends "layout.twig" %}

{% block title %}{{ app_name }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>404</h1>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
