{% extends "layout.twig" %}

{% block title %}{{ app_name }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>L'URL ne possèdent pas tous les paramètres</h1>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
